* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 2em;
}

.shoppingcart {
    width: 3em;
    height: 3em;
    background-image: url('winkelwagen.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    margin-right: 3em;
    cursor: pointer;
}

.shoppingcart__number:not(:empty) {
    background-color: #f00;
    display: inline-block;
    color: white;
    position: absolute;
    top: -.5em;
    right: -.9em;
    line-height: .5em;
    padding: .5em;
    border-radius: 50%;
}

.booksection__button {
    display: block;
    margin: 1.5em auto;
    background-color: #d00;
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: 1em;
}

.booksection__button:hover {
    background-color: #900;
    transition: 0.3s ease-in-out;
}

.bookSelection__cover {
    max-width: 100px;
}

.booksection {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.booksection__overig {
    font-size: 0.8em;
    color: rgb(65, 65, 65);
}

.booksection:nth-child(even) {
    background-color: #eee;
}

.booksection__main {
    display: grid;
    padding: .5em 0;
    grid-template-rows: auto 1fr auto;
}

.booksection__price {
    font-size: 1.5em;
}


.orderdBook {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 2em;
    margin-bottom: .5em;
}

.orderdBook__cover {
    max-width: 50px;
}

.orderdBook__titel {
    font-weight: normal;
    font-size: 1em;
}

.orderBook__remove {
    width: 2em;
    height: 2em;
    background-image: url(bin.png);
    background-size: cover;
    cursor: pointer;
    border-radius: .5em;
}

.orderBook__remove:hover {
    background-color: #f66;
}

@media screen and (min-width: 40em) {
    .orderBook {
        max-width: 40em;
        margin: 0 auto;
    }
}

@media screen and (min-width: 60em) {
    #uitvoer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }

    .booksection:nth-child(even) {
        background-color: inherit;
    }

    .booksection:nth-child(4n+2),
    .booksection:nth-child(4n+3) {
        background-color: #eee;
    }
    
}