* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bookSelection__cover {
    max-width: 100px;
}

.bookselection__row--accent {
    background-color: lightgray;
}

.bookselection__data {
    vertical-align: top;
    padding: 1em;
}

.bookselection__data:nth-child(3) {
    padding: 0;
}

.booksection {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1em;
    margin-bottom: 1em;
}

.booksection__price {
    font-size: 1.5em;
}